/*
background: #080808;
background: #20A9E5;
background: #868686;
background: #99D7F3;
background: #9A9A9A;
background: #B1E5F2;
background: #C4C4C4;
background: #FFFFFF;
*/
body{
    margin-right: 31em;
    border-top: 0px;
}
header{
    background-image: url("../img/pattern.png");
    background-size: 25%;
    background-repeat: repeat-x;
    background-color: #4EA0FF;  
    position: relative;   
}
#logo{
    margin:1.5rem 0.5rem 0;
    height: 50px;
}
/*header*/

h1{
    font-weight: bold;
    font-size: xx-large;
    margin-bottom: 0%;
}
#author{
    color: #9A9A9A;
}
h3{
    font-weight: 100;
    font-size: small;
}
.photo_description{
    font-size: small;
}
ul{
    margin-left: -1em;
}

table{
    border-collapse: collapse;
}
thead{
    background-color: #20A9E5;
    color: white;
    text-align: left;
    
}
.text_column{
    width: 50%;
}
.colored_row{
    background-color: #B1E5F2;
    margin: 0%;
}
/*article*/

#title_footer{
    color: #909090;
}
#monitor_img{
    background-image: url("../img/monitor.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 120px;
    color: white;
    text-indent: 1em;
}
      
#graph_img{
    background-image: url("../img/graph.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 120px;
    color: white;
    text-indent: 1em;
}